<section>
  <h1>About Me</h1>
  <img src="/images/about.png" width="203" height="200">
  <p>My name is Fernando Paredes and I am a polyglot. I can speak four languages and write code in Objective-C, Ruby, Python, and Javascript!</p>
  <p>
    <a href="http://github.com/NanoXD"><img src="images/social/github_alt.png" alt="github"></a>
    <a href="https://plus.google.com/114887184071469311816"><img src="/images/social/google_plus.png" alt="Google +"></a>
    <a href="http://twitter.com/nanoxd"><img src="/images/social/twitter.png" alt="Twitter"></a>
    <a href="http://"><img src="" alt=""></a>
  </p>
  <ul class="social">
    <li>

    </li>
    <li></li>
  </ul>
</section>
